<div class="page-title-wrapp">
  <h3 class="page-title">
    <span><i class="fa fa-user" aria-hidden="true"></i></span> Patient
    Registration
  </h3>
</div>
<div class="card content_wrapp">
  <div class="card-body">
    <h5 class="card-title">Patient Registration</h5>
    <form class="needs-validation" novalidate>
      <h4 class="form-section-title">PERSONAL DETAILS</h4>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >First Name<sup class="require">*</sup></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            value=""
            placeholder="Enter First Name"
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom01"
            >Middle Name<sup class="require">*</sup></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            value=""
            required
            placeholder="Enter Middle Name"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom03"
            >Last Name<sup class="require">*</sup></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustom03"
            placeholder="Enter Last Name"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label class="display-block"
            >Gender<sup class="require">*</sup></label
          >
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom03"
            >Date of Birth<sup class="require">*</sup></label
          >
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                type="text"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom03"
            >Age<sup class="require">*</sup></label
          >
          <input type="number" class="form-control" id="" required />
        </div>
      </div>
      <h4 class="form-section-title">ADDRESS DETAILS</h4>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >Address 1<sup class="require">*</sup></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            value=""
            placeholder="Enter Address 1"
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            value=""
            placeholder="Enter Address 2"
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >Country<sup class="require">*</sup></label
          >
          <select class="form-control">
            <option>Select Country</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >State<sup class="require">*</sup></label
          >
          <select class="form-control">
            <option>Select State</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >City<sup class="require">*</sup></label
          >
          <select class="form-control">
            <option>Select City</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02"
            >Zip Code<sup class="require">*</sup></label
          >
          <input type="number" class="form-control" id="" required />
        </div>
      </div>
      <h4 class="form-section-title">CONTACT DETAILS</h4>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom03"
            >Email<sup class="require">*</sup></label
          >
          <input
            type="email"
            class="form-control"
            id=""
            aria-describedby="emailHelp"
            placeholder="Enter Email"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom03"
            >Contact No<sup class="require">*</sup></label
          >
          <input
            type="tel"
            class="form-control"
            id=""
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
            required
            placeholder="123-456-7890"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="display-block">&nbsp;</label>
          <button class="btn btn-blue" type="button">RESET</button> &nbsp;
          <button class="btn btn-blue" type="submit">SEARCH</button>
        </div>
      </div>
    </form>
    <div class="result-wrapp">
      <!-- <h4 class="result-wrapp-title">Result</h4> -->
      <!-- <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Account No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Country</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ patient.firstname }}</td>
            <td>{{ patient.lastname }}</td>
            <td>{{ patient.country }}</td>
            <td>{{ patient.email }}</td>
            <td>
              <i class="fa fa-eye" aria-hidden="true"> </i> |
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
