<div class="page-title-wrapp">
  <h3 class="page-title">
    <span><i class="fa fa-list" aria-hidden="true"></i></span> Patient Summary
  </h3>
</div>
<div class="card content_wrapp">
  <div class="card-body">
    <h5 class="card-title">Patient Summary</h5>
    <div class="info-box-wrapp">
      <h5 class="info-box-title">Patient Information</h5>
      <table class="table blank-table">
        <tbody>
          <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Account Number</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
          </tr>
          <tr>
            <td>Steve William</td>
            <td>12348765</td>
            <td>12/09/1996</td>
            <td>10 A, 1 4th C St</td>
          </tr>
          <tr>
            <th scope="col">Country</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Zip Code</th>
          </tr>
          <tr>
            <td>USA</td>
            <td>NC</td>
            <td>Marion</td>
            <td>28752</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="info-box-wrapp">
      <h5 class="info-box-title">Insurance Information</h5>
      <table class="table blank-table">
        <tbody>
          <tr>
            <th scope="col">Insurance Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
          </tr>
          <tr>
            <td>CIGNA</td>
            <td>10 A, 1 4th C St</td>
            <td>Marion</td>
            <td>NC</td>
          </tr>
          <tr>
            <th scope="col">Zip Code</th>
            <th scope="col">Payer ID</th>
            <th scope="col">Plan/Product Name</th>
            <th scope="col">Coverage Phone</th>
          </tr>
          <tr>
            <td>28752</td>
            <td>62308</td>
            <td>CIGNA PPO</td>
            <td>9888034520</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
